$primary-color: #d00001;
$hover-color: #ff0001;

.new-group {
  width: 100px;
  height: 100px;
  border: 3px solid $primary-color;
  color: $primary-color;
  border-radius: 15px;
  transition: all 0.15s linear;

  &:hover {
    cursor: pointer;
    border-color: $hover-color;
    color: $hover-color;
    box-shadow: 1px 1px 1px #c8c8c8;
    transform: scale(1.02);
  }

  .text {
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
    padding: 20px 0;
  }
}